<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <title>Camera App</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <div class="row">
        <div id="btns-div" class="col-md-3 col-sm-3 col-lg-3">
        	<img src="{{ url_for('static',filename='LOGO_JEELIZ_BETA.png') }}" alt="Jeeliz" class="mt-5"style="width:70%;">
            <div class="row mt-5" style="height: 70vh; overflow-y: auto;">            	
                <a id="glass_1" href="{{ url_for('change_spectacle', method='glass_1') }}" class="hover-effect d-flex justify-content-center mb-4" style="border-bottom: 1px solid; padding: 3px;">
                	<div style="width: 50%">
	                    <img src="{{ url_for('static',filename='glasses/man_1.png') }}" alt="glass_1" class="btn" style="background-color: white;">              		
                	</div>
                    <div style="width: 50%; color: black; text-align: center;">
                    	<div style="height: 50px; overflow: hidden;">
	                    	<span>Explanation of glass glass glass Explanation of glass glass glass</span>
                    	</div>
                    	<button type="button" class="btn btn-secondary" style="width: 100%; height:25px; font-size: 15px; padding-top: 0px;">See Prices</button>
                    </div>
                </a>
                <a id="glass_2" href="{{ url_for('change_spectacle', method='glass_2') }}" class="hover-effect d-flex justify-content-center mb-4" style="border-bottom: 1px solid; padding: 3px;">
                	<div style="width: 50%">
	                    <img src="{{ url_for('static',filename='glasses/man_2.png') }}" alt="glass_2" class="btn" style="background-color: white;">              		
                	</div>
                    <div style="width: 50%; color: black; text-align: center;">
                    	<div style="height: 50px; overflow: hidden;">
	                    	<span>Explanation of glass glass glass Explanation of glass glass glass</span>
                    	</div>
                    	<button type="button" class="btn btn-secondary" style="width: 100%; height:25px; font-size: 15px; padding-top: 0px;">See Prices</button>
                    </div>
                </a>
                <a id="glass_3" href="{{ url_for('change_spectacle', method='glass_3') }}" class="hover-effect d-flex justify-content-center mb-4" style="border-bottom: 1px solid; padding: 3px;">
                	<div style="width: 50%">
	                    <img src="{{ url_for('static',filename='glasses/man_3.png') }}" alt="glass_3" class="btn" style="background-color: white;">              		
                	</div>
                    <div style="width: 50%; color: black; text-align: center;">
                    	<div style="height: 50px; overflow: hidden;">
	                    	<span>Explanation of glass glass glass Explanation of glass glass glass</span>
                    	</div>
                    	<button type="button" class="btn btn-secondary" style="width: 100%; height:25px; font-size: 15px; padding-top: 0px;">See Prices</button>
                    </div>
                </a>
                <a id="glass_3" href="{{ url_for('change_spectacle', method='glass_4') }}" class="hover-effect d-flex justify-content-center mb-4" style="border-bottom: 1px solid; padding: 3px;">
                	<div style="width: 50%">
	                    <img src="{{ url_for('static',filename='glasses/man_4.png') }}" alt="glass_4" class="btn" style="background-color: white;">              		
                	</div>
                    <div style="width: 50%; color: black; text-align: center;">
                    	<div style="height: 50px; overflow: hidden;">
	                    	<span>Explanation of glass glass glass Explanation of glass glass glass</span>
                    	</div>
                    	<button type="button" class="btn btn-secondary" style="width: 100%; height:25px; font-size: 15px; padding-top: 0px;">See Prices</button>
                    </div>
                </a>
                <a id="glass_5" href="{{ url_for('change_spectacle', method='glass_5') }}" class="hover-effect d-flex justify-content-center mb-4" style="border-bottom: 1px solid; padding: 3px;">
                	<div style="width: 50%">
	                    <img src="{{ url_for('static',filename='glasses/man_5.png') }}" alt="glass_5" class="btn" style="background-color: white;">              		
                	</div>
                    <div style="width: 50%; color: black; text-align: center;">
                    	<div style="height: 50px; overflow: hidden;">
	                    	<span>Explanation of glass glass glass Explanation of glass glass glass</span>
                    	</div>
                    	<button type="button" class="btn btn-secondary" style="width: 100%; height:25px; font-size: 15px; padding-top: 0px;">See Prices</button>
                    </div>
                </a>
                <a id="glass_6" href="{{ url_for('change_spectacle', method='glass_6') }}" class="hover-effect d-flex justify-content-center mb-4" style="border-bottom: 1px solid; padding: 3px;">
                	<div style="width: 50%">
	                    <img src="{{ url_for('static',filename='glasses/man_6.png') }}" alt="glass_6" class="btn" style="background-color: white;">              		
                	</div>
                    <div style="width: 50%; color: black; text-align: center;">
                    	<div style="height: 50px; overflow: hidden;">
	                    	<span>Explanation of glass glass glass Explanation of glass glass glass</span>
                    	</div>
                    	<button type="button" class="btn btn-secondary" style="width: 100%; height:25px; font-size: 15px; padding-top: 0px;">See Prices</button>
                    </div>
                </a>
    
                <a id="glass_7" href="{{ url_for('change_spectacle', method='glass_7') }}" class="hover-effect d-flex justify-content-center mb-4" style="border-bottom: 1px solid; padding: 3px;">
                	<div style="width: 50%">
	                    <img src="{{ url_for('static',filename='glasses/woman_1.png') }}" alt="glass_7" class="btn" style="background-color: white;">              		
                	</div>
                    <div style="width: 50%; color: black; text-align: center;">
                    	<div style="height: 50px; overflow: hidden;">
	                    	<span>Explanation of glass glass glass Explanation of glass glass glass</span>
                    	</div>
                    	<button type="button" class="btn btn-secondary" style="width: 100%; height:25px; font-size: 15px; padding-top: 0px;">See Prices</button>
                    </div>
                </a>
                <a id="glass_8" href="{{ url_for('change_spectacle', method='glass_8') }}" class="hover-effect d-flex justify-content-center mb-4" style="border-bottom: 1px solid; padding: 3px;">
                	<div style="width: 50%">
	                    <img src="{{ url_for('static',filename='glasses/woman_2.png') }}" alt="glass_8" class="btn" style="background-color: white;">              		
                	</div>
                    <div style="width: 50%; color: black; text-align: center;">
                    	<div style="height: 50px; overflow: hidden;">
	                    	<span>Explanation of glass glass glass Explanation of glass glass glass</span>
                    	</div>
                    	<button type="button" class="btn btn-secondary" style="width: 100%; height:25px; font-size: 15px; padding-top: 0px;">See Prices</button>
                    </div>
                </a>
                <a id="glass_9" href="{{ url_for('change_spectacle', method='glass_9') }}" class="hover-effect d-flex justify-content-center mb-4" style="border-bottom: 1px solid; padding: 3px;">
                	<div style="width: 50%">
	                    <img src="{{ url_for('static',filename='glasses/woman_3.png') }}" alt="glass_9" class="btn" style="background-color: white;">              		
                	</div>
                    <div style="width: 50%; color: black; text-align: center;">
                    	<div style="height: 50px; overflow: hidden;">
	                    	<span>Explanation of glass glass glass Explanation of glass glass glass</span>
                    	</div>
                    	<button type="button" class="btn btn-secondary" style="width: 100%; height:25px; font-size: 15px; padding-top: 0px;">See Prices</button>
                    </div>
                </a>
                <a id="glass_10" href="{{ url_for('change_spectacle', method='glass_10') }}" class="hover-effect d-flex justify-content-center mb-4" style="border-bottom: 1px solid; padding: 3px;">
                	<div style="width: 50%">
	                    <img src="{{ url_for('static',filename='glasses/woman_4.png') }}" alt="glass_10" class="btn" style="background-color: white;">              		
                	</div>
                    <div style="width: 50%; color: black; text-align: center;">
                    	<div style="height: 50px; overflow: hidden;">
	                    	<span>Explanation of glass glass glass Explanation of glass glass glass</span>
                    	</div>
                    	<button type="button" class="btn btn-secondary" style="width: 100%; height:25px; font-size: 15px; padding-top: 0px;">See Prices</button>
                    </div>
                </a>
    
            </div>

        </div>
        <div id="camera" class="col-md-6 col-sm-6 col-lg-6">
        	<div style="font-size: 22px;" class="d-flex justify-content-center">
	 	        <span>Find your style.</span>
	 	        <span style="color: lightblue;"> Let them know.</span>
        	</div>
            <img src="{{ url_for('video_feed') }}" alt="video feed">
            <p id="guideDiv"></p>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3" style="margin-top: 200px;">
			<div class="text-container middle-translate">
				<h1 class="g1-bold color-gray-darker title-elem">Virtual Try-On</h1>
				<div class="bar bar-dark"></div>
				<p class="color-gray-dark spaced-body">Finding the perfect pair of glasses is easy with Virtual Try-On. With amazing realism, you can try on glasses from the comfort of your couch. Our virtual glasses tool lets you try on as many pairs as you like!</p>
				<a class="btn btn-primary mt-3" href="{{ url_for('thanks', method='thanks') }}" style="height: 50px; font-size: 20px;">Get Started</a>
			</div>
        </div>
    
    </div>
</div>
</body>
<script>
    const guideElement = document.getElementById("guideDiv");
    setInterval(() => {
        fetch("{{ url_for('emotion_feed') }}")
        .then(response => {
                response.text().then(resp => {
                    if (resp === "suggest") {
                        guideElement.innerHTML = "It seems that you're happy. Do you want to buy this spectacles?";
                    }
                    if (resp === "change") {
                        guideElement.innerHTML = "It seems that you're unhappy. Do you want to change spectacles?";
                    }
                    guideElement.hidden = resp === "none";
                })
            });
        }, 5000);
</script>
</html>