<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <title>Camera App</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <div class="row">
        <div id="btns-div" class="col-md-4 col-sm-4 col-lg-4">
            <div class="row mt-5">
                <a id="glass_1" href="{{ url_for('change_spectacle', query_params={method: 'glass_1'}) }}">
                    <img src="{{ url_for('static',filename='glasses/man_1.png') }}" alt="glass_1" class="btn col-md-6 col-sm-6 col-lg-6 mb-2" style="background-color: white; width:400px; height: 7vh;">
                </a>
                <a id="glass_2" href="{{ url_for('change_spectacle', query_params={method: 'glass_2'}) }}">
                    <img src="{{ url_for('static',filename='glasses/man_2.png') }}" alt="glass_2" class="btn col-md-6 col-sm-6 col-lg-6 mb-2" style="background-color: white; width:400px; height: 7vh;">
                </a>
                <a id="glass_3" href="{{ url_for('change_spectacle', query_params={method: 'glass_3'}) }}">
                    <img src="{{ url_for('static',filename='glasses/man_3.png') }}" alt="glass_3" class="btn col-md-6 col-sm-6 col-lg-6 mb-2" style="background-color: white; width:400px; height: 7vh;">
                </a>
                <a id="glass_4" href="{{ url_for('change_spectacle', query_params={method: 'glass_4'}) }}">
                    <img src="{{ url_for('static',filename='glasses/man_4.png') }}" alt="glass_4" class="btn col-md-6 col-sm-6 col-lg-6 mb-2" style="background-color: white; width:400px; height: 7vh;">
                </a>
                <a id="glass_5" href="{{ url_for('change_spectacle', query_params={method: 'glass_5'}) }}">
                    <img src="{{ url_for('static',filename='glasses/man_5.png') }}" alt="glass_5" class="btn col-md-6 col-sm-6 col-lg-6 mb-2" style="background-color: white; width:400px; height: 7vh;">
                </a>
                <a id="glass_6" href="{{ url_for('change_spectacle', query_params={method: 'glass_6'}) }}">
                    <img src="{{ url_for('static',filename='glasses/man_6.png') }}" alt="glass_6" class="btn col-md-6 col-sm-6 col-lg-6 mb-2" style="background-color: white; width:400px; height: 7vh;">
                </a>
    
                <a id="glass_7" href="{{ url_for('change_spectacle', query_params={method: 'glass_7'}) }}">
                    <img src="{{ url_for('static',filename='glasses/woman_1.png') }}" alt="glass_7" class="btn col-md-6 col-sm-6 col-lg-6 mb-2" style="background-color: white; width:400px; height: 7vh;">
                </a>
                <a id="glass_8" href="{{ url_for('change_spectacle', query_params={method: 'glass_8'}) }}">
                    <img src="{{ url_for('static',filename='glasses/woman_2.png') }}" alt="glass_8" class="btn col-md-6 col-sm-6 col-lg-6 mb-2" style="background-color: white; width:400px; height: 7vh;">
                </a>
                <a id="glass_9" href="{{ url_for('change_spectacle', query_params={method: 'glass_9'}) }}">
                    <img src="{{ url_for('static',filename='glasses/woman_3.png') }}" alt="glass_9" class="btn col-md-6 col-sm-6 col-lg-6 mb-2" style="background-color: white; width:400px; height: 7vh;">
                </a>
                <a id="glass_10" href="{{ url_for('change_spectacle', query_params={method: 'glass_10'}) }}">
                    <img src="{{ url_for('static',filename='glasses/woman_4.png') }}" alt="glass_10" class="btn col-md-6 col-sm-6 col-lg-6 mb-2" style="background-color: white; width:400px; height: 7vh;">
                </a>
    
            </div>

        </div>
        <div id="camera" class="col-md-8 col-sm-8 col-lg-8">
            <img src="{{ url_for('video_feed') }}" alt="video feed">
            <p id="guideDiv"></p>
        </div>
    
    </div>
</div>
</body>
<script>
    const guideElement = document.getElementById("guideDiv");
    setInterval(() => {
        fetch("{{ url_for('emotion_feed') }}")
        .then(response => {
                response.text().then(resp => {
                    if (resp === "suggest") {
                        guideElement.innerHTML = "It seems that you're happy. Do you want to buy this spectacles?";
                    }
                    if (resp === "change") {
                        guideElement.innerHTML = "It seems that you're unhappy. Do you want to change spectacles?";
                    }
                    guideElement.hidden = resp === "none";
                })
            });
        }, 5000);
</script>
</html>